.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    border: 2px solid black;
    font-weight: 800;
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.week {
    border-bottom: 2px solid black;

    p {
        margin-top: 10px;
        margin-left: 5px;
    }
}

table th, table td {
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
}

thead th {
    border-bottom: 2px solid black;
}

.totalhours {
    font-weight: 800;
    text-align: left;
    padding: 9px 0 0 5px;
}
