<main>
    <div class="container-header">
        <h1>Student's Requirements</h1>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSIT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSIT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>EMC</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSIT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>ACT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSIT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSCS</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>ACT</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSEMC</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Juan Dela Cruz</h2>
            <p>BSCS</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
    </div>
</main>