<div class="container-header">
    <h1>Industry Partners</h1>
</div>

<div class="container">
    <div class="back-btn" [routerLink]="['../list']" routerLinkActive="router-link-active">
        <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class="btn-name">
            Back
        </span>
    </div>

    <div class="first-form">
        <div class="first-column">
            <form>
                <label>Name of Company</label>
                <input type="text">
            </form>
            <form>
                <label>Head of Company</label>
                <input type="text">
            </form>
            <form>
                <label>Position</label>
                <input type="text">
            </form>
        </div>

        <div class="second-column">
            <form>
                <label>Immediate Supervisor of the Student Trainee</label>
                <input type="text">
            </form>
            <form>
                <label>Position</label>
                <input type="text">
            </form>
        </div>
    </div>

    <div class="second-form">
        <h3>Address</h3>

        <div class="third-column">
            <form>
                <label>Region</label>
                <input type="text">
            </form>
            <form>
                <label>Province</label>
                <input type="text">
            </form>
            <form>
                <label>City/Municipality</label>
                <input type="text">
            </form>
            <form>
                <label>Barangay</label>
                <input type="text">
            </form>
        </div>

        <div class="fourth-column">
            <form class="address">
                <label>House No./Lot No./Street Name</label>
                <input type="text">
            </form>
            <form>
                <label>Zip Code</label>
                <input type="text">
            </form>
        </div>
    </div>

    <div class="third-form">
        <h3>Contact Information</h3>

        <div class="fifth-column">
            <form class="address">
                <label>Telephone Number</label>
                <input type="text">
            </form>
            <form>
                <label>Mobile Number</label>
                <input type="text">
            </form>
            <form>
                <label>Fax Number</label>
                <input type="text">
            </form>
        </div>

        <div class="sixth-column">
            <form class="address">
                <label>Email Address</label>
                <input type="text">
            </form>
            <form>
                <label>URL/Website</label>
                <input type="text">
            </form>
        </div>
    </div>

    <div class="btn">
        <button>Submit</button>
    </div>
</div>