<div class="header">
    <h1>OJT Exit Poll</h1>
</div>

<div class="buttons">
    <button (click)="applyFilter('all')">All Students</button>
    <button (click)="applyFilter('completed')">Completed</button>
    <button (click)="applyFilter('pending')">Pending</button>
    <button>Export</button> 
</div>

<div class="container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef class="col-md-3"> Name </th>
            <td mat-cell *matCellDef="let element" class="col-md-3"> 
                <div class="name">
                    <p>{{ element.firstname }} {{ element.lastname }}</p>
                    <P> {{ element.student_profile.program }}</P>
                </div>
            </td>
        </ng-container>
        
        
        <ng-container matColumnDef="course" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2" > Course </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> ITP 312 </td>
        </ng-container>

        <ng-container matColumnDef="student_number" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2" > Student Number </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> {{ element.student_profile.student_number }} </td>
        </ng-container>
        
        <ng-container matColumnDef="year_level" >
            <th mat-header-cell *matHeaderCellDef class="col-md-1" > Year </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.student_profile.year_level }} </td>
        </ng-container>
        
        <ng-container matColumnDef="status" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2" > Status </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> 
                <p> {{ (element.ojt_exit_poll) ? 'Completed' : 'Pending' }} </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Actions </th>
            <td mat-cell *matCellDef="let element" class="col-md-2">
                <div class="action">
                    <button [disabled]="(!element.ojt_exit_poll)" (click)="view(element.ojt_exit_poll.id)">View</button>
                </div>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-items"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
