<div class="header">
    <h1>OJT Exit Poll</h1>
</div>

<div class="buttons">
    <button>All Students</button>
    <button>Completed</button>
    <button>Pending</button>
    <button>Export</button>
</div>

<div class="container">
    <div class="table-container">
        <div class="table-header">
            <div>Name</div>
            <div>Mobile</div>
            <div>Student Number</div>
            <div>Year</div>
            <div>Estimated Time of Completion</div>
            <div>Status</div>
            <div>Action</div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>pending</div>
                    <div>
                        <button [routerLink]="['../view']" routerLinkActive="router-link-active" >View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>pending</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>pending</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>completed</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>completed</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>completed</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>
                        <div>Raven Andre Legarde</div>
                        <div>BSIT</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year</div>
                    <div>200 hours</div>
                    <div>completed</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
