
  
<div class="container">
    <div class="back-btn" [routerLink]="['../list']" routerLinkActive="router-link-active">
        <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class="btn-name">
            Back
        </span>
    </div>

    <div class="card">
        <mat-stepper [linear]="true" #stepper>
            <mat-step>
                <ng-template matStepLabel>Company Details</ng-template>
                <div class="details">
                    <div class="image">
                        <img [src]="(industryPartner.image) ? industryPartner.image : 'assets/images/logo.png'" alt="logo image">
                    </div>
                    <div class="container-info">
                        <div class="info">
                            <h2>{{ industryPartner.company_name }}</h2>
                            <p>{{ industryPartner.description }}</p>
                            
                            <h3 style="margin: 0; font-weight: 600;" >Company Head:</h3>
                            <p> {{ industryPartner.company_head.full_name }}, {{ industryPartner.head_position }}</p>
            
                            <h3 style="margin: 0; font-weight: 600;" >Immediate Supervisor :</h3>
                            <p> {{ industryPartner.immediate_supervisor.full_name }}, {{ industryPartner.supervisor_position }}</p>
                            
                            <ul>
                            <li>
                                <b>Company Address: </b>
                                {{  industryPartner.street }}
                                {{  industryPartner.barangay }}
                                {{  industryPartner.municipality }},
                                {{  industryPartner.province }}
                            </li>
                            <li><b>Official Email Address:</b> {{ industryPartner.email }}</li>
                            <li *ngIf="industryPartner.telephone_number"><b>Telephone Number:</b> {{ industryPartner.telephone_number }}</li>
                            <li *ngIf="industryPartner.fax_number"><b>Fax Number:</b> {{ industryPartner.fax_number }}</li>
                            <li><b>Contact Number:</b> {{ industryPartner.mobile_number }}</li>
                            <li *ngIf="industryPartner.website"><b>Website:</b> {{ industryPartner.website }}</li>
                            </ul>
                        </div>
                    </div>

                </div>
        
                <div class="action-buttons">
                    <button class="warning" *ngIf="industryPartner.status === 0" (click)="reject()">Reject</button>
                    <button class="success" mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            
            <mat-step>
                <ng-template matStepLabel>Documents</ng-template>

                <div class="stepper-content" *ngIf="industryPartner.status === 0; else mouPreview">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="file-input-container"> 
                                <div class="label"> Upload MOU </div>
                                <input class="file-input" type="file" accept=".jpeg, .png, .jpg, .svg, .pdf" (change)="uploadFile($event)"> 
                            </div>
                        </div>
                    </div>
                    <div class="preview-container" *ngIf="filePreview">
                        <img *ngIf="isImage" [src]="filePreview" alt="File Preview" class="image-preview">
                        <object *ngIf="!isImage" [data]="filePreview" width="100%" height="550px"></object>
                    </div>
                </div>

                <div class="action-buttons">
                    <button class="success" mat-button matStepperPrevious>Back</button>
                    <button class="success" *ngIf="industryPartner.status === 0" mat-button (click)="verify()">Verify</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>

<ng-template #mouPreview>
    <div class="stepper-content">
        <div class="preview-container">
            <object [data]="sanitizeUrl(industryPartner.mou.file_location)" width="100%" height="550px"></object>
        </div>
    </div>
</ng-template>