<main>
    <div class="container-header">
        <h1>Announcement</h1>
        <div class="btn">
            <button (click)="addAnnouncement()">+ New</button>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="image-container">
                <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            </div>
            <div class="card-details">
                <h2>Practicum Announcement</h2>
                <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>

                <div class="view-button">
                    <button class="view" (click)="viewAnnouncement()"><b>Edit</b></button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Practicum Announcement</h2>
            <p><i class="fa-regular fa-calendar"></i>May 10, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim velit nisi, et feugiat ligula auctor at. Nullam finibus pulvinar dui, sit amet iaculis ex molestie quis. Nunc eget purus ante.</p>
    
            <div class="view-button">
                <button class="view"><b>Edit</b></button>
            </div>
        </div>
    </div>
</main>