<div class="header">
    <h1>Students</h1>
</div>

<div class="buttons">
    <button>All Students</button>
    <button>BSIT</button>
    <button>BSCS</button>
    <button>BSEMC</button>
    <button>ACT</button>
</div>

<div class="container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Name </th>
            <td mat-cell *matCellDef="let element" class="col-md-2">  {{ element.user.firstname }} {{ element.user.lastname }} </td>
        </ng-container>
        
        <ng-container matColumnDef="student_number" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Student Number </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> {{ element.user.student_profile.student_number }} </td>
        </ng-container>

        <ng-container matColumnDef="category" >
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Category </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> Practicum2 </td>
        </ng-container>
    
        <ng-container matColumnDef="program">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Program </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.user.student_profile.program }} </td>
        </ng-container>
      
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Year </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.user.student_profile.year_level }} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Company </th>
            <td mat-cell *matCellDef="let element" class="col-md-2">  {{ element.industry_partner.company_name }} </td>
        </ng-container>
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Status </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ (element.status) ? 'pending': 'pending' }} </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Action </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> 
                 <button (click)="viewApplication(element.id)">View</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-items"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<!-- <div class="container">
    <div class="table-container">
        <div class="table-header">
            <div>Category</div>
            <div>Name</div>
            <div>Mobile</div>
            <div>Student Number</div>
            <div>Year/Program</div>
            <div>Company</div>
            <div>Status</div>
            <div>Action</div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button [routerLink]="['../view/1']" routerLinkActive="router-link-active" >View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
