<div class="header">
    <h1>Students</h1>
</div>

<div class="buttons">
    <button>All Students</button>
    <button>BSIT</button>
    <button>BSCS</button>
    <button>BSEMC</button>
    <button>ACT</button>
</div>

<div class="container">
    <div class="table-container">
        <div class="table-header">
            <div>Category</div>
            <div>Name</div>
            <div>Mobile</div>
            <div>Student Number</div>
            <div>Year/Program</div>
            <div>Company</div>
            <div>Status</div>
            <div>Action</div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button [routerLink]="['../view/1']" routerLinkActive="router-link-active" >View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="row-content">
                    <div>Practicum 1</div>
                    <div>
                        <div>Raven Andre Legarde</div>
                    </div>
                    <div>09955838183</div>
                    <div>202110187</div>
                    <div>3rd year/BSIT</div>
                    <div>Sky Dev</div>
                    <div>For Approval</div>
                    <div>
                        <button>View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
