<main>
    <div class="container-header">
        <h1>Company Endorsements</h1>
    </div>
  
    <div class="buttons">
        <div class="filter-container">
            <!-- <div [class.active]="statusFilter == 'all'" class="filter">
                <button (click)="onStatusFilterChange('all')">All Students</button>
            </div>
            <div [class.active]="statusFilter == 'completed'" class="filter">
                <button (click)="onStatusFilterChange('completed')">Completed</button>
            </div>
            <div [class.active]="statusFilter == 'ongoing'" class="filter">
                <button (click)="onStatusFilterChange('ongoing')">Ongoing</button>
            </div>
            <div [class.active]="statusFilter == 'pending'" class="filter">
                <button (click)="onStatusFilterChange('pending')">Pending</button>
            </div> -->
    
        </div>
        <div class="right">
            <div class="class-filter">
                <mat-form-field>
                    <mat-label>Status Filter</mat-label>
                    <mat-select disableRipple (selectionChange)="onStatusFilterChange($event)" [(value)]="statusFilter">
                        <mat-option [value]="'all'"> All </mat-option>
                        <mat-option [value]="0"> Pending </mat-option>
                        <mat-option [value]="1"> Rejected</mat-option>
                        <mat-option [value]="2"> Verified </mat-option>
                        <mat-option [value]="3"> Approved</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card" *ngFor="let industryPartner of filteredIndustryPartners">
            <div class="status"
            [class.pending]="industryPartner.status == 0 || industryPartner.status == 2"
            [class.rejected]="industryPartner.status == 1"
            [class.monitoring]="industryPartner.status == 3">
                <h3>{{ industryPartner.status_text }}</h3>
            </div>
    
            <img [src]="(industryPartner.image) ? industryPartner.image : '/assets/images/LOGO.png'" alt="logo image" class="card-image">
            <h2>{{ industryPartner.company_name }}</h2>
            <p>{{ industryPartner.municipality }}</p>
    
            <div class="view-button">
                <button class="view" (click)="viewIndustryPartnerRequest(industryPartner.id)"><b>View</b></button>
            </div>
        </div>
    </div>
</main>
  