@use "../../../../../themes/page-header";
@use "../../../../../themes/card-list-base";
@use "../../../../../themes/custom-pagination";

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;

  .search-filter {
    width: 300px;
  }

  .class-filter {
    width: 180px;
  }
}

.card {
  .status {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;

    //rejected and cancelled
    &.rejected {
      background: linear-gradient(
        179.1deg,
        rgb(245, 86, 86) 2.3%,
        rgb(255, 21, 21) 98.3%
      );
    }

    //accepted and pending
    &.pending {
      background: #e4c659; //#F4D35E - lighter alternative
    }

    //monitoring
    &.monitoring {
      background: linear-gradient(
        179.1deg,
        rgb(43, 170, 96) 2.3%,
        rgb(129, 204, 104) 98.3%
      );
    }
    h3 {
      padding: 0;
      text-align: center;
      color: var(--primary-font-color);
      width: 100%;
    }
  }
}

@media only screen and (max-width: 680px) {
  .filters {
    > * {
      flex: 1;
    }
  }
}
