
  
<div class="container">
    <div class="back-btn" [routerLink]="['../list']" routerLinkActive="router-link-active">
        <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class="btn-name">
            Back
        </span>
    </div>

    <div class="card">
        <div class="image">
            <img [src]="(industryPartner.image) ? industryPartner.image : 'assets/images/logo.png'" alt="logo image">
        </div>
        <div class="container-info">
            <div class="info">
                <h2>{{ industryPartner.company_name }}</h2>
                <p>{{ industryPartner.description }}</p>
                
                <h3 style="margin: 0; font-weight: 600;" >Company Head:</h3>
                <p> {{ industryPartner.company_head.full_name }}, {{ industryPartner.head_position }}</p>

                <h3 style="margin: 0; font-weight: 600;" >Immediate Supervisor :</h3>
                <p> {{ industryPartner.immediate_supervisor.full_name }}, {{ industryPartner.supervisor_position }}</p>
                
                <ul>
                <li>
                    <b>Company Address: </b>
                    {{  industryPartner.street }}
                    {{  industryPartner.barangay }}
                    {{  industryPartner.municipality }}
                </li>
                <li><b>Official Email Address:</b> {{ industryPartner.email }}</li>
                <li *ngIf="industryPartner.telephone_number"><b>Telephone Number:</b> {{ industryPartner.telephone_number }}</li>
                <li *ngIf="industryPartner.fax_number"><b>Fax Number:</b> {{ industryPartner.fax_number }}</li>
                <li><b>Contact Number:</b> {{ industryPartner.mobile_number }}</li>
                <li *ngIf="industryPartner.website"><b>Website:</b> {{ industryPartner.website }}</li>
                </ul>
                
                <!-- <div class="slots">
                    <p>Available Slots: <p>
                </div> -->
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="students-content">
            <h2>Number of Students: {{ dataSource.data.length }}</h2> 
            
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element" class="col-md-3"> 
                        <div class="name">
                            <p style="margin: 0;"> {{ element.full_name }} </p>
                            <P style="margin: 0;"> {{ element.user.student_profile.program }}</P>
                        </div>
                    </td>
                </ng-container>
                
                
                <ng-container matColumnDef="course" >
                    <th mat-header-cell *matHeaderCellDef> Course </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ element.user.active_ojt_class.course_code }} 
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="student_number" >
                    <th mat-header-cell *matHeaderCellDef> Student Number </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ element.user.student_profile.student_number }} 
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="year_level" >
                    <th mat-header-cell *matHeaderCellDef> Year </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ element.user.student_profile.year_level }} 
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="status" >
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> 
                        <!-- <p> {{ (element.ojt_exit_poll) ? 'Completed' : 'Pending' }} </p> -->
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
