<div class="container-header">
    <h1>Industry Partners</h1>
    <div class="btn">
        <button [routerLink]="['../addnew']" routerLinkActive="router-link-active" >+ New</button>
    </div>
</div>

<div class="container">
    <!-- <div class="inside-view"> -->
        <div class="back-btn" [routerLink]="['../list']" routerLinkActive="router-link-active">
            <span class="icon">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="btn-name">
                Back
            </span>
        </div>

        <div class="content">
            <div class="image">
                <img src="">
            </div>
            <div class="container-info">
                <div class="info">
                    <h3>Game Dev Intern</h3>
                    <h6>Giga bolts dev Inc.</h6>
                    <p>At Giga Bolts Dev Inc., we craft immersive 
                        digital experiences that transport players to extraordinary worlds. 
                        With a passion for storytelling and innovation, 
                        we blend cutting-edge technology with creative design to 
                        deliver unforgettable gaming adventures.
                    </p>
                </div>

                <ul>
                    <li>Address: </li>
                    <li>Email Address: </li>
                    <li>Contact Number: </li>
                </ul>

                <div class="slots">
                    <p>Available Slots: <p>
                </div>

                <div class="apply-btn">
                    <span class="btn">Edit</span>
                </div>
            </div>

        </div>

        
    <!-- </div> -->
</div>

