<main>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav class="sidebar-container"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
            <div class="sidebar-content">
                <div class="upper-sidebar">
                    <div class="profile">
                        <div class="logo">
                            <img [src]="(user.image) ? user.image : 'assets/images/profile.png'" alt="Image">
                        </div>
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <p>Adviser</p>
                    </div>
                    
                    <div class="navigation-links">
                        <li class="item" [routerLink]="['dashboard']" routerLinkActive="router-link-active" >
                            <span class="side-link">
                                <i class="fa-solid fa-chart-line"></i> Dashboard
                            </span>
                        </li>
                        <li class="item"  [routerLink]="['industrypartners']" routerLinkActive="router-link-active" >
                            <span class="side-link"> 
                                <i class="fa-solid fa-handshake-angle"></i> Industry Partners
                            </span>
                        </li>
                        <li class="item" [routerLink]="['requirements']" routerLinkActive="router-link-active" >
                            <span class="side-link"> 
                                <i class="fa-solid fa-file"></i> Requirements
                            </span>
                        </li>
                        <li class="item" [routerLink]="['endorsement']" routerLinkActive="router-link-active" >
                            <span class="side-link"> 
                                <i class="fa-solid fa-building"></i> Endorsements
                            </span>
                        </li>
                        <li class="item" [routerLink]="['students']" routerLinkActive="router-link-active">
                            <span class="side-link"> 
                                <i class="fa-solid fa-clock"></i> Students
                            </span>
                        </li>
                        <li class="item" [routerLink]="['templates']" routerLinkActive="router-link-active" >
                            <span class="side-link"> 
                                <i class="fa-solid fa-map"></i> Templates
                            </span>
                        </li>
                        <li class="item" [routerLink]="['announcement']" routerLinkActive="router-link-active" >
                            <span class="side-link"> 
                                <i class="fa-solid fa-file"></i> Announcement
                            </span>
                        </li>
                    </div>
                </div>

                <div class="logout">
                    <div class="logout-icon">
                        <i class="fa-solid fa-right-from-bracket" (click)="logout()"></i>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        
        <mat-sidenav-content class="body-content">
            <div class="container">
                <div class="header" [class.hide]="hideHeader">
                    <div>
                        <button mat-icon-button *ngIf="mobileQuery.matches" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
                    </div>
                    <div class="date-time-display">
                        <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
                        <span class="date-time" id="dateTime"></span>
                    </div>
                </div>
                <div class="outlet" #bodyContent (scroll)="onScroll($event)" [class.full]="hideHeader">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</main>
