h1 {
    color: var(--secondary-color);
    opacity: .5;
    font-size: 60px;
    font-weight: 400;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    .total {
        display: flex;
        align-items: center;

        div {
            border: 2px solid var(--secondary-color);
            border-radius: 25px;
            padding: 15px;
            text-align: center;
            min-width: 200px;
            background-color: #fff;
            margin: 15px;

            p {
                margin: 0;
                font-weight: bold;
                font-size: 16px;
            }

            h1 {
                margin: 10px 0 0 0;
                font-size: 48px;
            }
        }
    }
}
