<div class="container">
    <div class="header">
        <i class="fa-solid fa-xmark"></i>
    </div>

    <form>
        <div class="form-content">
            <div class="input-row">
                <div class="long-input">
                    <label>Title</label>
                    <input type="text">
                </div>
    
                <div class="short-input">
                    <label>Date</label>
                    <input type="date">
                </div>
            </div>

            <div class="input-row">
                <div class="large-input">
                    <label>Content</label>
                    <textarea></textarea>
                </div>
            </div>

            <div class="input-row">
                <div class="upload">
                    <label>Upload Photo</label>
                    <input type="file">
                </div>
            </div>
        </div>


        <div class="btn">
            <button>Post</button>
        </div>
    </form>
</div>
