.container {
    width: 700px;
    padding: 20px;
    height: fit-content;

    i {
        display: flex;
        justify-content: end;
        font-size: 25px;
        padding: 5px 5px 0 0;
        cursor: pointer;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
        border: 1px solid black;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .input-row {
            display: flex;
            padding: 5px 0px;
            width: 100%;

            div {
                width: 100%;
                margin: 10px;
            }
        }

        .form-row {
            display: flex;
            flex-direction: row;
        }

        .long-input {
            flex: 2;
            display: flex;
            flex-direction: column;
        }

        .short-input {
            flex: 1;
            max-width: 30%;
            display: flex;
            flex-direction: column;
        }
        
        .large-input {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;

            textarea {
                padding: 5px;
                height: 150px;
                resize: none;
            }
        }
        
        .upload{
            display: flex;
            flex-direction: column;
        }
    }

    .btn {
        display: flex;
        justify-content: end;
        padding: 5px;

        button {
            font-size: 15px;
            border: none;
            background-color: var(--primary-color);
            color: #ffffff;
            padding: 8px;
            width: 100px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
        }

        button:hover {
            color: var(--primary-color);
            background-color: #ffffff;
            border: 2px solid var(--primary-color);
        }
    }
}