.container {
    display: row;

    .logo {
        margin-left: 20px;
    }

    .container-content {
        display: flex;

        .left-container {
            display: row;

            .clipart {
                margin-top: -60px;
            }

            .school-logo {
                display: flex;
                float: right;
                margin-top: -130px;
                margin-right: 190px;

                .ccs {
                    margin-top: 12px;
                }
            }
        }

        .right-container {
            height: 50vh;
            margin-right: 80px;
            margin-top: -40px;

            h2 {
                font-size: 50px;
                margin-bottom: 15px;
                text-align: center;
            }

            .content {
                background-color: #E8751A;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 48px;
                height: 500px;
                width: 550px;

                .input {
                    margin-top: 150px;
                }

                input {
                    margin: 10px;
                    padding: 10px;
                    width: 500px;
                    border: none;
                    border-radius: 10px;
                    background-color: #F9E8D9;
                    color: #EE7214;
                    font-size: 22px;
                    height: 40px;

                }
                button {
                    border: none;
                    color: #E8751A;
                    background-color: #F9E8D9;
                    margin-top: 10px;
                    padding: 10px 20px;
                    font-size: 22px;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;        
                }
            }
        }
    }
}