<main>
    <div class="container-header">
        <h1>Industry Partners</h1>
        <div class="btn">
            <!-- <button [routerLink]="['../addnew']" routerLinkActive="router-link-active" >+ New</button> -->
            <button (click)="addIndustryPartner()" >+ New</button>
        </div>
    </div>

    <div class="card-container">
        <div class="card" *ngFor="let industryPartner of industryPartners">
            <img [src]="(industryPartner.image) ? industryPartner.image : '/assets/images/logo.png'" alt="logo image" class="card-image">
            <h2>{{ industryPartner.company_name }}</h2>
            <p>{{ industryPartner.municipality }}</p>
    
            <div class="view-button">
                <button class="view" [routerLink]="['../view']" routerLinkActive="router-link-active" ><b>View</b></button>
            </div>
        </div>
    </div>
</main>