<main>
    <div class="container-header">
        <h1>Industry Partners</h1>
        <div class="btn">
            <button [routerLink]="['../addnew']" routerLinkActive="router-link-active" >+ New</button>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view" [routerLink]="['../view']" routerLinkActive="router-link-active" ><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
        <div class="card">
            <img src="/assets/images/logo.png" alt="logo image" class="card-image">
            <h2>Game Dev Intern</h2>
            <p>SBMA, Olongapo City</p>
    
            <div class="view-button">
                <button class="view"><b>View</b></button>
            </div>
        </div>
    </div>
</main>