@use "../../../../../themes/page-header";

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

  button {
    padding: 2px 8px;
    font-size: 18px;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .mobile-options {
    flex: 1;
    display: none;
  }

  .web-options {
    display: flex;
    flex-direction: row;
  }

  .status-container {
    display: flex;
    flex-direction: row;

    .filter {
      display: flex;
      justify-content: center;
      margin-right: 30px;
      position: relative;

      &.active::before {
        width: 120px;
      }

      &::before {
        content: "";
        position: absolute;
        transform: translateY(45px);
        width: 0px;
        height: 2px;
        background: var(--primary-color);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .filter-container {
      flex: 1 1 180px;
    }

    .export {
      margin-bottom: 20px;
    }
  }
}

.container {
  margin: 0px 20px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
  height: fit-content;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: var(--shadow);

  table {
    box-shadow: none;
    margin-bottom: 10px;

    th {
      font-weight: 400;
      font-size: 14px;
    }

    td {
      font-size: 12px;
      line-height: 16px;
    }
    th,
    td {
      text-align: center;
    }

    .table-header {
      color: var(--primary-color);
    }

    .table-items {
      transition: all ease-in-out 0.2s;
      &:hover {
        background-color: rgba(var(--secondary-color-semi-transparent));
        transition: all ease-in-out 0.2s;
      }
    }

    button {
      font-size: 12px;
      background: transparent;
      color: var(--secondary-color);
      border: 2px solid transparent;
      padding: 2px 20px;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        color: var(--secondary-color);
        background-color: #ffffff;
        border-color: var(--secondary-color);
      }
    }
  }
}

input {
  width: 80px;
  border: 1px solid var(--primary-color);
}

.action-btn {
  display: flex;
  background-color: transparent;

  i {
    font-size: 23px;
  }
}

.enable-btn {
  display: flex;
  justify-content: end;

  button {
    font-size: 14px;
    min-width: 80px;
    background-color: var(--main-orange);
    padding: 8px 20px;
    border-radius: 10px;
    color: var(--primary-font-color);
    cursor: pointer;
    border: 1px solid var(--main-orange);
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: transparent;
      color: var(--main-orange);
    }
  }
}

@media only screen and (max-width: 1400px) {
  .controls {
    .web-options {
      display: none;
    }
    .mobile-options {
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .controls {
    .right {
      gap: 5px;
    }
  }

  .container {
    margin: 0 10px;
    padding: 0 5px;
  }
}

@media only screen and (max-width: 680px) {
  .container {
    margin: 0 10px 10px;
    padding: 0 10px;
  }
}
