<div class="info-header">
    <i class="fa-regular fa-circle-user"></i>

    <div class="info-content">
        <div class="left-table">
            <p>Student Number</p>
            <p>Full Name</p>
            <p>College/Program</p>
            <p>Domain Email</p>
            <p>Mobile Number</p>
        </div>
        <div class="right-table">
            <p>{{ student.student_profile.student_number }}</p>
            <p>{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }} {{ student.ext_name }}</p>
            <p>CCS/{{ student.student_profile.program }}</p>
            <p>{{ student.student_profile.student_number }}&#64;gordoncollege.edu.ph</p>
            <p>{{ student.student_profile.contact_number }}</p>
        </div>
    </div>
</div>

<div class="info-container">
    <div class="content">
        <h3>Personal Information</h3>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [(ngModel)]="student.birth_date" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Civil Status</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.civil_status" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Gender</mat-label>
                  <input matInput [(ngModel)]="student.gender" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Citizenship</mat-label>
                  <input matInput [(ngModel)]="student.citizenship" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Religion</mat-label>
                  <input matInput  [(ngModel)]="student.religion" readonly>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Father's name</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.father_name" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Employment</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.father_employment" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Mother's name</mat-label>
                <input matInput  [(ngModel)]="student.student_profile.mother_name" readonly>
              </mat-form-field>
          </div>
          <div class="col-md-2">
              <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Employment</mat-label>
                <input matInput [(ngModel)]="student.student_profile.mother_employment" readonly>
              </mat-form-field>
          </div>
        </div>
    </div>

    <div class="content">
        <h3>Address</h3>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Region</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.region" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Province</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.province" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Municipality</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.municipality" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Barangay</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.barangay" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Address</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.address" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                  <mat-label>Zip Code</mat-label>
                  <input matInput [(ngModel)]="student.student_profile.zip_code" readonly>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
