/* You can add global styles to this file, and also import other style files */



:root {
    font-size: 100%;
    --primary-color: #E8751A;
    --font-color: white;
    --secondary-color: red;
    --main-green: #31A463;
    --border-color: #fff;
    --shadow: 0 4px 8px rgba(0,0,0,0.1);
    --sidebar-width: 260px;
}


html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Poppins';
    background-color: white;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: .4rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(49, 164, 99, .3);
    border-radius: 10px;
}
