/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Poppins'; 
    outline: none;
    margin: 0;
    border: none;
}

:root {
    font-size: 100%;
    --primary-color: #E8751A;
    --primary-font-color: white;
    --font-color: white;
    --secondary-color: #898121;
    --secondary-color-semi-transparent: 137, 129, 33, .4;
    --main-green: #31A463;
    --border-color: #fff;
    --shadow: 0 4px 8px rgba(0,0,0,0.1);
    --sidebar-width: 260px;
}


html, body { height: 100%; }

body { 
    margin: 0; 
    background-color: white;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: .4rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(232, 117, 26, .3);
    border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
