<div class="info-header">
    <i class="fa-regular fa-circle-user"></i>

    <div class="info-content">
        <div class="left-table">
            <p>Student Number</p>
            <p>Full Name</p>
            <p>College/Program</p>
            <p>Domain Email</p>
            <p>Mobile Number</p>
        </div>
        <div class="right-table">
            <p>202110089</p>
            <p>Juan Dela Cruz</p>
            <p>CCS/BSIT</p>
            <p>202110089&#64;gordoncollege.edu.ph</p>
            <p>09691369214</p>
        </div>
    </div>
</div>

<div class="info-container">
    <h3>Personal Info</h3>
    <div class="content">
        <div class="row">
            <div class="info">
                <label>Date of Birth</label>
                <input type="date">
            </div>
            <div class="info">
                <label>Civil Status</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Gender</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Citizenship</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Religion</label>
                <input type="text">
            </div>
        </div>

        <div class="long-info">
            <div class="row">
                <div class="info">
                    <label>Father's Name</label>
                    <input class="long" type="test">
                </div>
                <div class="info">
                    <label>Employment</label>
                    <input type="text">
                </div>
                <div class="info">
                    <label>Mother's Name</label>
                    <input class="long" type="text">
                </div>
                <div class="info">
                    <label>Employment</label>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>

    <h3>Address</h3>
    <div class="content">
        <div class="row">
            <div class="info">
                <label>Region</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Province</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Municipality</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Barangay</label>
                <input type="text">
            </div>
            <div class="info">
                <label>Zip Code</label>
                <input type="text">
            </div>
        </div>

        <div class="long-info">
            <div class="row">
                <div class="info">
                    <label>House No./Lot No./Street Name</label>
                    <input class="long" type="test">
                </div>
            </div>
        </div>
    </div>
</div>